@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
// Globals
$body-font-family: "Poppins", sans-serif !default;
$border-radius-root: 3px;

$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
.theme--light .v-content{
    background-color: #eef5f9;
  }
@import '../css/utils/buttons';
@import '../css/utils/card';
@import '../css/utils/layout';
@import '../css/utils/sidebar';

.m-1{
  margin-top: 20px;
}
